.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: url('./sunset.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

#city{
  font-size: 24px;
  color: white;
}
#container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}
.app .search {
  text-align: center;
  padding: 1rem;
}
input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

#container #border{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;

  border-radius: 15px;
  background-color: rgba(255,255,255,0.2);
}
#border{
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#border #feels{
  font-size: 2em;
  font-weight: bold;
}
#border #main{
  font-size: 2em;
  font-weight: bold;
}